In [1]:
#######################
# Zafer Acar          #
# zafer.acar@cern.ch  #
#######################

## Question 1 - Standard Deviation Like a Hipster

In [2]:
Q =[2,3,4,2] # We define our list

In [3]:
total=0
counter=0
for i in Q: #we iterate the list and sum and count how many elements in the list
    total=total+i
    counter=counter+1

In [24]:
total # in Jupyter Notebook we don't need to use print ()

11

In [25]:
counter

4

In [26]:
avg=total/counter

In [27]:
avg

2.75

In [29]:
Q2=[] # we define another list for sum of squares

In [30]:
for i in Q: # we iterate first list subtract the average and square them
    Q2.append((i-avg)**2)

In [10]:
Q2

[0.5625, 0.0625, 1.5625, 0.5625]

In [11]:
sumofsquares=0
for i in Q2:
    sumofsquares=sumofsquares+i

In [12]:
sumofsquares

2.75

In [31]:
std=(sumofsquares/counter)**0.5 #finally we calculate the standart deviation

In [32]:
std

0.82915619758885

## Question 2 - Sorting Like a Hipster

In [15]:
mylist=[71, 51, 32, 62, 84, 109, 43, 92, 72, 41, 102, 80, 72, 69, 46, 94, 52, 95, 90, 72, 63, 70, 34, 80, 78, 34, 31, 37,
26, 41, 42, 107, 33, 108, 108, 75, 66, 23, 90, 53, 24, 70, 26, 41, 93, 24, 71, 39, 48, 66, 97, 107, 77, 71, 67, 39, 38,
107, 96, 92, 84, 46, 60, 95, 87, 90, 92, 63, 78, 78, 84, 107, 70, 108, 32, 36, 93, 108, 49, 72, 56, 43, 30, 56, 51, 97, 45,
92, 40, 43, 49, 83, 98, 28, 99, 97, 102, 89, 58, 87]

In [16]:
for i in range(len(mylist)):
    for j in range(i + 1, len(mylist)):
        if mylist[i] > mylist[j]:
               mylist[i], mylist[j] = mylist[j], mylist[i]

In [17]:
mylist

[23,
 24,
 24,
 26,
 26,
 28,
 30,
 31,
 32,
 32,
 33,
 34,
 34,
 36,
 37,
 38,
 39,
 39,
 40,
 41,
 41,
 41,
 42,
 43,
 43,
 43,
 45,
 46,
 46,
 48,
 49,
 49,
 51,
 51,
 52,
 53,
 56,
 56,
 58,
 60,
 62,
 63,
 63,
 66,
 66,
 67,
 69,
 70,
 70,
 70,
 71,
 71,
 71,
 72,
 72,
 72,
 72,
 75,
 77,
 78,
 78,
 78,
 80,
 80,
 83,
 84,
 84,
 84,
 87,
 87,
 89,
 90,
 90,
 90,
 92,
 92,
 92,
 92,
 93,
 93,
 94,
 95,
 95,
 96,
 97,
 97,
 97,
 98,
 99,
 102,
 102,
 107,
 107,
 107,
 107,
 108,
 108,
 108,
 108,
 109]

## Question 3 - Dataset Correlation Like a Hipster

In [18]:
import pandas as pd

In [19]:
df=pd.read_fwf("random_x_y_pairs.txt", names=['x','y'], header=None)

In [20]:
df.head()

        x       y
0  0.2999 -2.4572
1 -1.4079 -1.7313
2 -1.5493 -0.5107
3 -1.0846 -1.9347
4 -0.6433  1.8604

In [34]:
df.describe() #.describe() gives mean, and standart deviation of each columns

                 x            y
count  1000.000000  1000.000000
mean     -0.042437    -0.080817
std       2.285450     2.236673
min      -7.114000    -7.607400
25%      -1.525500    -1.569475
50%      -0.060250    -0.151950
75%       1.435600     1.410350
max       8.311300     6.322300

In [33]:
df.corr() # .corr gives Pearson Correlation Matrix for x and y

          x         y
x  1.000000  0.602885
y  0.602885  1.000000

## Question 4 - Numerical Integration Like a Hipster